<h2><%= collectionName %></h2>

<% rides.each(function (ride) { %>

    <div class="ride-index-view col-xs-5">
    <a href="/#/rides/<%= ride.id %>">
      <img><img src="<%= ride.escape('image_url') %>"
            alt="<%= ride.escape('name') %>" class="thumbnail"></img>
      <div id="rateYo-mini-<%= ride.escape('id') %>"></div>
      <%= ride.escape("name") %>
  </a>
    <div id="want-button-<%= ride.escape('id') %>"></div>
    </div>

<% }); %>

<% if (rides.length == 0 && !rides.new) { %>
  <div class="missing">
  <p><%= this.missing %></p>
  <img src="http://www.econlife.com/wp-content/uploads/2014/06/mickeysad2.jpg"
    alt="Sad Mickey" class="missing"></img>
  </div>
<% } %>
