<div class='rides-index-title'>
  <h3>Rides</h3>
</div>
<ul class="rides">
  <% rides.each(function (ride) { %>
    <li>
      <a href="/#/rides/<%= ride.id %>">
        <img><img src="<%= ride.escape('image_url') %>"
              alt="<%= ride.escape('name') %>" class="thumbnail"></img>
        <div id="rateYo-mini-<%= ride.escape('id') %>"></div>
        <%= ride.escape("name") %>
      </a>
    </li>
  <% }); %>
</ul>
