<form>
  <label>Search Ride Names...<br>
    <input class="search" type="text" name="what" /></label>
</form>

<br>
<a href="/#/highest">Highest Rated Rides</a>
<br>
<a href="/#/rides">Full Rides Index</a>
<br>
<a href="/#/rated">Rides You've Rated</a>
<br>
<a href="/#/notrated">Rides You Haven't Rated</a>

<div class='rides-index-title'>
  <h3>Rides</h3>
</div>

<% rides.each(function (ride) { %>
  <a href="/#/rides/<%= ride.id %>">
    <div class="ride-index-view">
      <img><img src="<%= ride.escape('image_url') %>"
            alt="<%= ride.escape('name') %>" class="thumbnail"></img>
      <div id="rateYo-mini-<%= ride.escape('id') %>"></div>
      <%= ride.escape("name") %>
    </div>
  </a>
<% }); %>

<% if (rides.length == 0) { %>
  <p><%= this.missing %></p>
<% } %>
