<!DOCTYPE html>
<html>
<head>
  <title>goodrides</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
  <!-- <link rel="stylesheet" href="../vendor/assets/stylesheets/jquery.rateyo.css"/> -->
  <%= render partial: "layouts/header" %>
</head>
<body>

<br>

<div class="container-fluid">
  <% if flash[:errors] %>
  <div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
  <%= flash[:errors].join("<br>").html_safe %>
  </div>
  <% end %>

<%= yield %>
</div>

</body>
</html>
