<!DOCTYPE html>
<html>
<head>
  <title>Goodrides</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
  <!-- <link rel="stylesheet" href="../vendor/assets/stylesheets/jquery.rateyo.css"/> -->
</head>
<body>

<%= render partial: "layouts/header" %>
<br>

<div class="container">
<%= yield %>
</div>

</body>
</html>
